.container {
    padding: 20px;
    background-color:white;
    margin-top: 140px;
    height: fit-content;
  }
  
  .secondContainer {
    background-color: whitesmoke;
    margin-bottom: 15px;
    padding: 15px; 
    border-radius: 8px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    
    
  }
  
  .description, .location, .reportedBy,.assignedTo, .image2{
    flex: 1;
    margin: 0px 10px;
    font-size: 14px;
  }
  .assignedAt{
    margin-top: 50px;
  }
  .image{
    flex: 1; 
  margin: 0 10px; 
  height: 100px;

  }
  .status{
    flex: 1;
    margin: 0 10px;
    font-size: 14px;
  }
  .list{
    list-style-type: none;  
    padding-left: 0;       
    margin-left: 0; 
  }
  .errorHandling{
    margin-top: 150px;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalImage {
    max-width: 90%;
    max-height: 90%;
  }
  
  
  