.container {
    padding: 20px;
    background-color:white;
    margin-top: 140px;
     
  }
  
  .secondContainer {
    background-color: whitesmoke;
    margin-bottom: 15px;
    padding: 15px; 
    border-radius: 8px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    
    
  }
  
  .description, .location, .reportedBy, .image,.assignedTo{
    flex: 1;
    margin: 0 10px;
    font-size: 14px;
  }
  .assignedAt{
    margin-top: 50px;
  }
  .status{
    flex: 1;
    margin: 0 10px;
    font-size: 14px;
  }
  .list{
    list-style-type: none;  
    padding-left: 0;       
    margin-left: 0; 
  }
  
  