.section{
    background-color:white;
}
.card{
    
}
.i{
    color: #ff6219;
}
.img{
    border-radius: 1rem 0 0 1rem;
}
.Login{
   background-image: url('../public/images/logo.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-size: 450px;
   background-position: center;
   opacity: 0.6;
   border-style: solid;
  border-color: black;
  

}
