.nav {
  overflow: hidden;
  position: fixed;
  font-weight: bold;
  top: 0;
  width: 100%;
  display: flex;  
  z-index: 1000;  
  height: 140px;

}

.navImg {
 width: 120px;
 height: 120px;
 border-radius: 50%;
}

.navlink {
  padding-left: 1000px;
}
