.nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;  
  z-index: 1000;  

}

.navImg {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  object-fit: cover;
  opacity: 1; 
  filter: none;

}

.navlink {
  padding-left: 1000px;
}
